<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Grocerymanager"
        tools:targetApi="31">
        <activity
            android:name=".misc.MainActivityMock"
            android:exported="false" />
        <activity
            android:name=".misc.SettingsActivityAdmin"
            android:exported="false" />
        <activity
            android:name=".misc.SettingsActivityDietician"
            android:exported="false" />
        <activity
            android:name=".misc.ProfileActivityDietician"
            android:exported="false" />
        <activity
            android:name=".activities.ChatDieticianActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activities.DietitianListActivity"
            android:exported="false" />
        <activity
            android:name=".activities.AdminActivity"
            android:exported="false" />
        <activity
            android:name=".activities.DietitianActivity"
            android:exported="false" />
        <activity
            android:name=".activities.LoginActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.AddItemsActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activities.SettingsActivity"
            android:exported="false" />
        <activity
            android:name=".activities.ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".activities.ListActivity"
            android:exported="false" />
        <activity
            android:name=".activities.RecipeActivity"
            android:exported="false" />
        <activity
            android:name=".activities.ChatActivity"
            android:exported="false" />
        <activity
            android:name=".activities.UserListActivity"
            android:exported="false" />
        <activity
            android:name=".activities.ProfilePageActivity"
            android:exported="false" />
        <activity
            android:name=".activities.SettingsPageActivity"
            android:exported="false" />
        <activity
            android:name=".activities.ChatUserActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activities.InventoryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activities.ContactActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activities.ScannerActivity"
            android:exported="false" />
        <activity
            android:name=".activities.HomeActivity"
            android:exported="false" />
        <activity
            android:name=".activities.BarcodeActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activities.MainActivity"
            android:exported="false" />
        <activity
            android:name=".activities.LandingActivity"
            android:exported="false"/>
        <activity
            android:name=".activities.CameraCaptureActivity"
            android:screenOrientation="fullSensor"
            android:stateNotNeeded="true"
            android:theme="@style/zxing_CaptureTheme" />

        <service
            android:name=".misc.NotificationService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>